# Standard ignores
*~
*.pyc
\#*#
.#*
.*.swp
.cproject
.project
testing/
.settings/
/.vs
/out/build
/CMakeSettings.json
/out/mytest
CMakeUserPresets.json
.DS_Store

# build directories in source tree
/build*
/out*

# IDE-specific files/folders
## VSCode
/.vscode
## QtCreator
/CMakeLists.txt.user*

# Private folders and files
references/maca/cu-bridge-kokkos
